<% include header %>

<h4>
	Delete Matching Riddles
</h4>

<% include navigation %>

<form method="post" role="form">
	<div class="form-group">
		<label for="text">Question</label>
		<input id="text" type="text" class="form-control" name="text" placeholder="Enter Question" required>
	</div>
	<div class="form-group">
		<input type="submit" value="Delete Riddles" class="btn btn-primary">
		<a href="\" class="btn btn-primary pull-right">Back</a>
	</div>
</form>

<% include footer %>