<div class="">
	<a href="/" class="btn btn-primary">Home</a>
	<a href="sign-in" class="btn btn-primary">Sign In</a>
	<a href="profile" class="btn btn-primary">Profile</a>
	<a href="add-question" class="btn btn-primary">Add Riddle</a>
	<a href="logout" class="btn btn-primary">Logout</a>
</div>
<br>